
@if (Model != null)
{
    <div class="card shadow-sm p-3 mb-3 bg-light rounded">
        <h5 class="card-title">Detalles del Usuario</h5>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Campo</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Nombre</strong></td>
                            <td>@Model.NombreUsuario</td>
                        </tr>
                        <tr>
                            <td><strong>Contraseña</strong></td>
                            <td>@Model.password</td>
                        </tr>
                        <tr>
                            <td><strong>Email</strong></td>
                            <td>@Model.Email</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button type="button" class="btn btn-sm btn-outline-danger mt-2" onclick="$('#detallesUsuario').empty();">Cerrar Detalles</button>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        No se encontraron detalles para este Usuario.
    </div>
}